<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <jmxConfigurator/>
    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>


    <logger name="org.springframework">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>

    </logger>
    <logger name="org.apache.kafka">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>

    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>

    </root>

</configuration>